.Button {
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    font-weight: 900;
    font-size: large;
    border: none;
    margin-left: 5px;
}

.Button *{
vertical-align: middle;
}

.Button img{
    max-height: 48px;
    max-width: 48px;
}

.cliked{
    box-shadow: 10px 10px 25px gray;
}